


/*---------------HomePage-----------*/
.home {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.headerContainer {
    width: auto;
    margin-left: 50px;
}

.headerContainer h1 {
    position: absolute;
    top: 250px;
    font-family: "Monotype Corsiva";
    justify-content: left;
    padding-right: 600px;
    font-size: 65px;
    height: 80px;
    font-weight: 50;
    color: #443850
}
.headerContainer h2 {
    position: absolute;
    top: 320px;
    left: 100px;
    font-family: "Monotype Corsiva";
    justify-content: left;
    padding-right: 600px;
    font-size: 65px;
    height: 80px;
    font-weight: 50;
    color: #443850
}

.headerContainer p {
    position: absolute;
    left: 600px;
    top: 400px;
    font-family: "Forte";
    font-size: 30px;
    color: antiquewhite;
}

.headerContainer button {
    position: absolute;
    top: 500px;
    left: 70px;
    font-family: "Consolas";
    border-radius: 25px;
    justify-content: center;
    background-color: #443850;
    border: 1px solid #443850;
    opacity: .75;
    height: 85px;
    width: 210px;
    color: white;
    text-decoration: none;
    font-size: 22px;
    box-shadow: 0px 1.5px 0 white, 1px 2px 3px #eee;
    transition: transform .2s;
}

.headerContainer button:hover {
    transform: scale(1.1);
    opacity: 1;
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3A2F28;
    /*box-shadow: 0px 1.5px 0 #FBC940, 1px 2px 3px #FBC940;*/
}


/*-----------------------------PublicPage---------------------------------------------*/
.breed{
    transition: transform .4s;
}

.breed:hover{
    box-shadow: 0px 2px 0 #4CC096, 0px 0px 3px #496950;
    border-radius: 20px 20px 20px 20px;
    transform: scale(1.01);
}


/*------------------------------------JOIN-PAGE--------------------------------------*/


.joinPage{}

.joinPage .carousel-caption{
    bottom: 220px;
}
.joinPage .carousel-caption h1{
    -webkit-text-stroke: 2px #FFFFFF;
    color: #4CC096;
    font-size: 70px;
    letter-spacing: 5px;
    margin-top: 5px;
    font-weight:900;
    font-family: "Arial Black";
}

.joinPage .carousel-caption p{
    font-size: 25px;
    font-family: Consolas;
    margin-bottom: 5px;
}
.joinPage .carousel-caption button{
    border: none;
    font-size: 25px;
    font-family: "Arial Black";
    padding: 10px 20px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #FBC940;
    color: #FFFFFF;
    border-radius: 30px;
    transition: transform .4s;
}
.joinPage .carousel-caption button:hover{
    box-shadow: 0px 1px 2px 0 #Ffffff;
    transform: scale(1.03);
}
.joinPage #slide1 {
    bottom: 340px;
    text-align: center;
}
.joinPage #slide2 {
    text-align: left;
}
.joinPage #slide3 {
    bottom: 290px;
    text-align: right;
}