.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background: #FFFFFF;
    max-width: 700px;
    margin: 0 auto 60px;
    padding: 45px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    transition: 0.5s;
}
.login:hover{
    transform: scale(1.001);
    box-shadow: 0 0 0 1.5px white, 0 0 0 4px #4CC096;
}
.login label{
    margin-top: 15px;
    font-size: 35px;
    font-family: Bahnschrift;
}
span{
    font-size: 15px;
    color: gray;
}

.login input {
    border-radius: 20px;
    height: 50px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 2px solid #4CC096;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 20px;
}

.login button {
    font-family: "Arial Black";
    text-transform: uppercase;
    background: #4CC096;
    width: 70%;
    border-radius: 40px;
    padding: 15px;
    color: #FFFFFF;
    margin-top: 10px;
    font-size: 20px;
    border: 0;
    font-weight: bold;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.login button:hover,.login button:active,.login button:focus {
    background: #FBC940;
}
